#decryptor {

    .top {
        display: flex;
        flex-flow: row;
        column-gap: 20px;
    }

    .decrypted {
        color: lightgreen;
        font-weight: 400;
        font-size: 24px;
    }
}